.crt {
	height: 100vh;
	width: 100vw;
	position: fixed;
	left: 0;
	top: 0;
}

.crt-frame {
	pointer-events: none;
	overflow: hidden;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1000;
	visibility: visible;
	background-image: radial-gradient(transparent 50%, #00000019 75%, rgba(0, 0, 0, 0.267) 95%);
}

.crt-content {
	height: 100vh;
	width: 100vw;
	filter: url(#SphereMapTest);
}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 4px 100%;
  pointer-events: none;
}

#filters {
	display: none;
	position: absolute;
	z-index: 0;
	visibility: hidden;
}

#content {
	position: fixed;
	width: 100vw;
	height: 100vh;
	min-width: 90%;
	min-height: 95%;
	left: 0px;
	top: 32px;
}